*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    background: linear-gradient(to right, #616265, #153448)
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 30px;
}
.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}
.input-container h1{
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    color:#000428c2;
    letter-spacing: 6px;
    text-shadow: 2px 4px rgb(110, 109, 122);
    font-weight: 800;
}
.input-container input[type="text"] {
    padding: 12px;
    width: 70%;
    border-radius: 30px;
    border-style: none;
    outline: none;
    background: #23262a;
    margin: 8px;
    color: #ffffff;
}
.input-container input[type="button"] {
    border-radius: 30px;
    background-color: #151835c2;
    color: #a2a3a5;
    cursor: pointer;
    font-weight: 600;
    margin-left: 6px;
}
.input-container input[type="button"]:hover {
background-color: rgb(18, 26, 43);
}
ul{
    width: 100%;
    max-width: 450px;
    flex-direction: column;
}
ul li{
    list-style-type: none;
    cursor: pointer;
    margin-block: 10px;
    border-radius: 8px;
    padding: 4px 10px;
    background-color: #153448;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    outline: none;
    color: #ffffff;
}
ul li p{
    flex-grow: 1;
    padding: 2px;
}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    border-radius: 30px;
    color: #b3b0b0;
    cursor: pointer;
}
.deleteBtn{
    background-color: rgba(247, 6, 6, 0.2);
}
.editBtn{
    background-color: rgba(7, 3, 122, 0.2);
}
.deleteBtn:hover{
    background-color: #5d0404;
}
.editBtn:hover{
    background-color: #0c0241;
}